<div id="unm_header">
  <div class="header_content">
    <div id="skipnav"><a accesskey="2" href="#content" tabindex="1">Skip to Main Content</a> <span class="hide">|</span> <a accesskey="1" href="http://www.unm.edu">UNM Homepage</a> <span class="hide">|</span> <a accesskey="0" href="http://www.unm.edu/accessibility.html">Accessibility Statement</a></div>
    <div class="unm_header_title"><a href="http://www.unm.edu" title="The University of New Mexico">The University of New Mexico</a></div>
    <div id="unm_header_links">
      <ul title="global UNM navigation">
        <li><a href="http://www.unm.edu/depart.html" title="UNM A to Z">UNM A-Z</a></li>
        <li><a href="http://studentinfo.unm.edu" title="StudentInfo">StudentInfo</a></li>
        <li><a href="http://fastinfo.unm.edu" title="FastInfo">FastInfo</a></li>
        <li><a href="https://my.unm.edu" title="myUNM">myUNM</a></li>
        <li><a href="http://directory.unm.edu" title="Directory">Directory</a></li>
      </ul>
      <form action="http://search.unm.edu/search" id="unm_search_form" method="get"><fieldset><input accesskey="4" alt="input search query here" class="search_query" id="unm_search_form_q" maxlength="255" name="q" title="input search query here" type="text" /> <input accesskey="s" alt="search now" class="search_button" id="unm_search_for_submit" name="submit" src="https://webcore.unm.edu/v1/images/search.gif" type="image" value="search" /></fieldset></form></div>
  </div>
</div>
